{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      },
      "antd"
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": "css"
      },
      "antd-mobile"
    ]
  ]
}
