{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/standard",
    "prettier/react"
  ],
  "plugins": ["react-hooks"],
  "env": {
    "browser": true,
    "es2020": true
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": ["forbidExtraProps", { "property": "freeze", "object": "Object" }],
    "linkComponents": ["Hyperlink", { "name": "Link", "linkAttribute": "to" }]
  },
  "rules": {
    "camelcase": "warn"
  }
}
